<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9iWSgrqUfWsQ9iNY_MKVYl6Z0bZNXHgU</string>
	<key>GCM_SENDER_ID</key>
	<string>561734449423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeMarket</string>
	<key>PROJECT_ID</key>
	<string>home-market-9a104</string>
	<key>STORAGE_BUCKET</key>
	<string>home-market-9a104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561734449423:ios:cf2a3350364e3fd205e67a</string>
</dict>
</plist>